@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.phantom-button {
    height: inherit !important;
    padding: inherit !important; 
}

.phantom-button:hover {
    background-color: transparent !important;
}

.phantom-button:hover > .wallet-adapter-button-start-icon > svg,
.phantom-button:hover > span {
    color: rgb(243 244 246) !important;
}

@keyframes pulse-bg {
    0% { background-color: rgba(209, 213, 219, 0.5); }
    50% { background-color: rgba(209, 213, 219, 1); }
    100% { background-color: rgba(209, 213, 219, 0.5); }
  }
  
  .animate-pulse-bg {
    animation: pulse-bg 2s infinite;
  }
  
